[user]
  name = bigdra
  email = bigdra50@gmail.com

[core]
  editor = vim
  pager = delta
	symlinks = true

[init]
  defaultBranch = main

[add]
  interactiveUseBuiltin = false

[mergetool "neovimdiff"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE -c 'wincmd l' -c 'wincmd J'

[merge]
  tool = neovimdiff
  conflictstyle = diff3

[diff]
  colorMoved = default

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[http]
  postBuffer = 524288000

[pull]
	rebase = true

[rebase]
	autosquash = true

[rerere]
	enabled = true

[include]
  path = ~/.gitconfig_local

# bigdra50 リポジトリ: SSH を個人鍵にリライト
[includeIf "gitdir:~/dev/github.com/bigdra50/"]
  path = ~/.gitconfig-bigdra50
[includeIf "gitdir:~/y/dev/github.com/bigdra50/"]
  path = ~/.gitconfig-bigdra50
[includeIf "gitdir:/Volumes/CrucialX9/dev/github.com/bigdra50/"]
  path = ~/.gitconfig-bigdra50

# 業務用の includeIf 群は ~/.gitconfig_local に置く (上の [include] が読む)。
# 実体は private な ORG-USER/dotfiles の setup.sh が配備し、
# 無い環境では黙ってスキップされる。

[github]
	user = bigdra50

[ghq]
  root = ~/dev

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  side-by-side = true
  navigate = true
  light = false

[interactive]
  diffFilter = delta --color-only
