# all ignore
/*
/.**

# white list

## bash
!/dot_bashrc
## zsh
!/dot_zshrc
!/dot_zshenv
!/dot_zsh/
/dot_zsh/**
!/dot_zsh/*.zsh
!/dot_zsh/plugins/
/dot_zsh/plugins/**
!/dot_zsh/plugins/*.zsh

!/executable_dot_vimrc
!/dot_colorrc
!/dot_ideavimrc

## brew
!/dot_Brewfile

!/dot_config/
/dot_config/**
## nvim
!/dot_config/nvim/
/dot_config/nvim/**
!/dot_config/nvim/load-plugins.vim
!/dot_config/nvim/dein.toml
!/dot_config/nvim/dein_lazy.toml
!/dot_config/nvim/dot_stylua.toml
!/dot_config/nvim/coc-settings.json
!/dot_config/nvim/plugins/
/dot_config/nvim/plugins/**
!/dot_config/nvim/plugins/*

## nix
!/dot_config/nixpkgs/   
/dot_config/nixpkgs/**   

## nix
!/dot_config/nixpkgs/
/dot_config/nixpkgs/**
!/dot_config/nixpkgs/home.nix

## powershell
!/dot_config/posh/
/dot_config/posh/**
!/dot_config/posh/Microsoft.PowerShell_profile.ps1
!/dot_config/posh/profiles.json
!/dot_config/posh/settings.json

## unity
!/dot_config/unity/
/dot_config/unity/**
!/dot_config/unity/layout.wlt

!/README.md
!/LICENSE
!/.gitconfig
!dot_gitignore
!.gitkeep
~/etc/install.sh
!/executable_dot_yabairc
!/dot_skhdrc
!/dot_wezterm.lua
!/dot_p10k.zsh
