[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	email = ryu1998tea@gmail.com
	name = bigdra50
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  aa = !git add .  && git add -u && git status
  cm = commit -m
  cam = commit --amend
  wip = commit -m 'wip'
