# all ignore
/*
/.**

# white list

!/install.sh
!/justfile
 
## bash
! .bashrc
## zsh
!/.zshrc
!/.zshenv
!/.zsh/
/.zsh/**
!/.zsh/*.zsh
!/.zsh/plugins/
/.zsh/plugins/**
!/.zsh/plugins/*.zsh

!/.vimrc
!/.colorrc
!/.ideavimrc

## brew
!/.Brewfile

!/.config/
/.config/**


## gitui
!/.config/gitui/
!/.config/gitui/**

## starship
!/.config/starship.toml

## nvim
!/.config/nvim/
/.config/nvim/**
!/.config/nvim/init.lua
!/.config/nvim/load-plugins.vim
!/.config/nvim/dein.toml
!/.config/nvim/dein_lazy.toml
!/.config/nvim/.stylua.toml
!/.config/nvim/coc-settings.json
!/.config/nvim/plugins/
/.config/nvim/plugins/**
!/.config/nvim/plugins/*.vim
!/.config/nvim/plugins/*.lua

## nix
!/.config/nixpkgs/   
/.config/nixpkgs/**   

## nix
!/.config/nixpkgs/
/.config/nixpkgs/**
!/.config/nixpkgs/home.nix

## powershell
!/.config/posh/
/.config/posh/**
!/.config/posh/Microsoft.PowerShell_profile.ps1
!/.config/posh/functions/
!/.config/posh/functions/*
!/.config/posh/link.ps1
!/.config/posh/profiles.json
!/.config/posh/settings.json

## unity
!/.config/unity/
/.config/unity/**
!/.config/unity/layout.wlt

!/README.md
!/LICENSE
!/.gitconfig
!/.mise.toml
!.gitignore
!.gitkeep
~/etc/install.sh
!/.yabairc
!/.skhdrc
!/.wezterm.lua
!/.p10k.zsh
!/.bashrc
!.zsh/plugins/
!.zsh/plugins/*
!.config/nvim/after/
.config/nvim/after/**
!.config/nvim/after/*
!.config/nvim/lua/
.config/nvim/lua/**
!.config/nvim/lua/*
!.config/nvim/plugin/
.config/nvim/plugin/**
!.config/nvim/plugin/*
!.config/nvim/plugins/
!.config/nvim/plugins/*
!.config/nvim/after/plugin/
.config/nvim/after/plugin/**
!.config/nvim/after/plugin/*
