source ~/.vimrc

" IdeaVim 固有の set (.vimrc に無いもののみ。共通設定は .vimrc 側で管理)
set cmdheight=2
set clipboard+=unnamed
set noerrorbells
set whichwrap=b,s,h,l,<,>,[,],~

" IDE アクション
nmap gi <Action>(GotoImplementation)
nnoremap <Space>rn :action RenameElement<CR>

let mapleader = ' '
nnoremap <Leader>ev :<C-u>vsplit ~/.ideavimrc<CR>
nnoremap <Leader>sv :<C-u>source ~/.ideavimrc<CR>
